.App {
  text-align: center;
  background-color: #f8f8f8;
  min-height: 100vh;
  /* position: fixed; */
  /* margin-left: 300px; */
}

.active div:first-child, .active div li {
  color:red;
  text-decoration: none;
  
}